<!--<p class="sectionHeader">
  Welcome to Library !!
</p>

<div>
  <ul>
      <li *ngFor="let book of books">
          {{book.bookName}}
      </li>

  </ul>
</div> -->

<div class="jumbotron">
    <h3>Add a Book:</h3>
    <div>
        <label for="bookId">ID:</label>
        <input type="text" id="bookId" [(ngModel)]="book.id">
    </div>
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" [(ngModel)]="book.bookName">
    </div>
    <div>
        <label for="desc">Description:</label>
        <input type="text" id="desc" [(ngModel)]="book.description">
    </div>
    <div>
        <label for="author">Author:</label>
        <input type="text" id="author" [(ngModel)]="book.authorName">
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" id="price" [(ngModel)]="book.prize">
    </div>
    <button type="button" (click)="postData()">Add Book</button>
</div>
